manifest {
    homePage = ''
    description = 'Viral nucl to prot using 6 frames and viral prot db'
    mainScript = 'nucl_to_prot_seq.nf'
}

/* Pipeline running parameters */
params{
  seq_size=1000
  publish_base_dir='prot_output'
}

process{
  errorStrategy='ignore'
}

profiles {

  amanj {
    includeConfig 'conf/amanj.nucl_to_prot_seq.config'
  }
  
}

report {
    enabled = true
    file = "nucl_to_prot_seq_report.html"
}

timeline {
    enabled = true
    file = "nucl_to_prot_seq_timeline.html"
}

trace{
  enabled = true
  file = "nucl_to_prot_seq_trace.html"
  fields='task_id,hash,native_id,process,tag,name,status,exit,submit,start,complete,duration'
}
