manifest {
    homePage = ''
    description = 'Viral nucl to prot using 6 frames and viral prot db'
    mainScript = 'TTVnucleoTranslations.nf'
}

/* Pipeline running parameters */
params{
  publish_base_dir='prot_output'
}

process{
  errorStrategy='ignore'
}

profiles {

  amanj {
    includeConfig 'conf/amanj.TTVnucleoTranslations.config'
  }
  
}

report {
    enabled = true
    file = "TTVnucleoTranslations_report.html"
}

timeline {
    enabled = true
    file = "TTVnucleoTranslations_timeline.html"
}

trace{
  enabled = true
  file = "TTVnucleoTranslations_trace.html"
  fields='task_id,hash,native_id,process,tag,name,status,exit,submit,start,complete,duration'
}
